.container {
    width: 200px;
    height: 300px;
    border: 3px solid #2b2b2c;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .list {
    list-style: none;
   padding-left: 0;
 }

 .name {
    margin-top: 8px;
    font-size: 30px;
 }

 .status {
    margin-top: 8px;
    font-size: 20px;
 }

 .online {
 color: green;
 }

 .offline {
    color: red;
 }