.transactionTable {
    margin-top: 40px;
  border-collapse: collapse;
  text-align: center;
}

.tableHead {
    background-color: #2a2a2a;
    color: #fafafa;
    font-size: 24px;
}

.transactionTable th,
.transactionTable td {
    padding: 8px;
    border: 2px solid #2a2a2a;
  }

  tr:nth-child(even) {
    background-color: #b5b3b6;
  } 